<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% if (locals.user) { %>
    <h2>Welcome, <%= user.name %></h2>
    <% if (user.profileImage) { %>
      <img src="/uploads/<%= user.profileImage %>" alt="<%= user.name %> profile image" width="120" />
    <% } %>
  <% } %>

  <h1>URL Shortner</h1>
  <form method="post" action="/url">
    <label>Enter your original URL</label>
    <input type="text" name="url" placeholder="https://example.com">
    <button type="submit">Generater</button>

    <% if (locals.id) { %>
      <p>URL Generated: http://localhost:8001/url/<%= id %>
      </p>
      <% } %>
  </form>

 <% if (urls && urls.length > 0) { %>

            <table border="1">

              <thead>
                <tr>
                  <th>No</th>
                  <th>Original URL</th>
                  <th>Short URL</th>
                  <th>Clicks</th>
                </tr>
              </thead>

              <tbody>

                <% urls.forEach((url, index)=> { %>

                  <tr>

                    <td>
                      <%= index + 1 %>
                    </td>

                    <td>
                      <%= url.redirectUrl %>
                    </td>

                    <td>
                      <a href="/url/<%= url.shortId %>" target="_blank">
                        <%= url.shortId %>
                      </a>
                    </td>

                    <td>
                      <%= url.visitHistory.length %>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          <% } %>
</body>

</html>